.header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    color: white;
    background: rgb(92, 87, 87);
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    
}

.header h1 {
    font-size: 40px;
    

}

