
  .icons {
    background: rgb(92, 87, 87);
    display: flex;
    justify-content: center;
    padding: 0.9rem 0;
    
  
  }
  .icons li {
    list-style-type: none;
    background: #83d6a3;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .icons li:hover {
    background: rgb(74, 71, 71);
  }
  